{% extends "base.dtl" %}

{% block title %}404, ugh{% endblock %}
{% block title_meta %}404, ugh{% endblock %}

{% block content %}
    <h1>This is not the page you are looking for ...</h1>

    <p>{% if exception %}{{ exception }}{% else %}
        What I told you was true, from a certain point of view ...
        {% endif %}
    </p>

{% endblock content %}
